.suggestion {
	position: absolute;
	top: 52px;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	border: 2px solid rgb(250, 240, 0);
	width: 320px;
	border-radius: 10px;
	background: darkgrey;
	font-size: 16px;
	overflow: hidden;
}

.suggestion__item {
	padding: 10px 0;
	cursor: pointer;
}

.suggestion__item:hover {
	background: gray;
}

.suggestion__item + .suggestion__item {
	border-top: 1px solid gray;
}
