.sw {
	height: 100%;
	width: 100%;
}

.sw__container {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	text-align: center;
 }

.sw__image {
	width: 200px;
	margin: 50px;
 }
