.search {
	display: flex;
	justify-content: space-around;
	position: relative;
}

.search__input{
	width: 300px;
	height: 50px;
	border: 2px solid rgb(250, 240, 0);
	border-radius: 10px;
	margin: 0 auto;
	position: relative;
	padding: 0 10px;
	font-size: 16px;
	background: transparent;
	color: white;
	text-align: center;
}

.search__btn {
	background: transparent;
	width: 100px;
	height: 55px;
	margin-left: 40px;
	border: 2px solid lightgrey;
	border-radius: 10px;
	font-size: 16px;
	color: lightgrey;
	text-align: center;
	cursor: pointer;
}

.search__btn:active {
	background: rgb(450, 240, 0);
	border: 2px solid transparent;
	color: black;
}
