body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;

	background-image: url(images/bg.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
}

button,
button:active,
button:focus,
input:active,
input:focus {
	outline: none;
}
